<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Language for data science language
* Some of the commonly used libraries in data science
* data science tools

Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* Matplotlib

| Data Science Tools     |
|----------|
| JupyterLab     |
| RStudio    |
| Apache Zeppelin  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min / 60
print(hours)

3.3333333333333335

## Author:
Ritam Halder